<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :store_name, placeholder: "Enter a location"%>
    <!--<input id="store_name" class="controls" type="text" placeholder="Enter a location">-->
  </div>
  <!--<div class="field">-->
  <!--  <%= form.label :name_kana %>-->
  <!--  <%= form.text_field :name_kana, id: :store_name_kana %>-->
  <!--</div>-->
  <div class="field">
    <%= form.label :area %>
    <input id="store_area" placeholder="Enter a city" type="text" />
  </div>
  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :store_address %>
  </div>
  <!--<div class="field">-->
  <!--  <%= form.label :latitude %>-->
  <!--  <%= form.text_field :latitude, id: :store_latitude, readonly: true %>-->
  <!--</div>-->
  <!--<div class="field">-->
  <!--  <%= form.label :longitude %>-->
  <!--  <%= form.text_field :longitude, id: :store_longitude, readonly: true %>-->
  <!--</div>-->
    
  <style type="text/css">
    #map { 
      height: 400px;
      /*text-align:left;*/
      width: 70%;
      float: left;
      box-sizing: border-box;
    }
    #listing {
      /*position: absolute;*/
      height: 400px;
      /*overflow: auto;*/
      cursor: pointer;
      overflow-x: hidden;
      box-sizing: border-box;
    }
  </style>
  
  <div class="actions">
    <%= form.submit %>
  </div>
  
  <div class="field">
    <div id="map"></div>
  </div>
  
  <div id="listing">
    <table id="resultsTable">
      <tbody id="results"></tbody>
    </table>
  </div>
  <div style="display: none">
    <div id="info-content">
      <table>
        <tr id="iw-url-row" class="iw_table_row">
          <td id="iw-icon" class="iw_table_icon"></td>
          <td id="iw-url"></td>
        </tr>
        <tr id="iw-address-row" class="iw_table_row">
          <td class="iw_attribute_name">Address:</td>
          <td id="iw-address"></td>
        </tr>
        <tr id="iw-phone-row" class="iw_table_row">
          <td class="iw_attribute_name">Telephone:</td>
          <td id="iw-phone"></td>
        </tr>
        <tr id="iw-rating-row" class="iw_table_row">
          <td class="iw_attribute_name">Rating:</td>
          <td id="iw-rating"></td>
        </tr>
        <tr id="iw-website-row" class="iw_table_row">
          <td class="iw_attribute_name">Website:</td>
          <td id="iw-website"></td>
        </tr>
      </table>
    </div>
  </div>
  
<% end %>

<script type="text/javascript">
  
  $(function(){
      $("input"). keydown(function(e) {
          if ((e.which && e.which === 13) || (e.keyCode && e.keyCode === 13)) {
              return false;
          } else {
              return true;
          }
      });
  });
    
  var map, places, infowindow;
  var markers = [];
  var autocomplete_area;
  var countryRestrict = {'country': 'jp'};
  var MARKER_PATH = 'https://developers.google.com/maps/documentation/javascript/images/marker_green';
  var hostnameRegexp = new RegExp('^https?://.+?/');
  
  function initMap() {
    var latlng ={lat: <%= @store.latitude %>, lng: <%= @store.longitude %>};
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: latlng
    });
    
    autocomplete_name = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('store_name')), {
        componentRestrictions: countryRestrict
    });
    autocomplete_area = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */ (document.getElementById('store_area')), {
        types: ['(cities)'],
        componentRestrictions: countryRestrict
    });
    
    places = new google.maps.places.PlacesService(map);
    
    infowindow = new google.maps.InfoWindow({
        content: document.getElementById('info-content')
    });
    
    autocomplete_area.addListener('place_changed', onPlaceChanged);
    autocomplete_name.addListener('place_changed', onPlaceChanged_name);
  }
  
  function onPlaceChanged_name() {
    var place = autocomplete_name.getPlace();
    var markerLetter = String.fromCharCode('A'.charCodeAt(0));
    var markerIcon = MARKER_PATH + markerLetter + '.png';
    
    clearResults();
    clearMarkers();
    
    if (!place.geometry) {
      window.alert("No details available for input: '" + place.name + "'");
      return;
    }
    if (place.geometry.viewport) {
      map.fitBounds(place.geometry.viewport);
    } else {
      map.setCenter(place.geometry.location);
      map.setZoom(17);
    }
    
    markers[0] = new google.maps.Marker({
      map: map,
      anchorPoint: new google.maps.Point(0, -29),
      position: place.geometry.location,
      animation: google.maps.Animation.DROP,
      icon: markerIcon
    });
    
    markers[0].placeResult = place;
    document.getElementById('store_name').value = place.name;
    // alert(place.vicinity);//地域は不要？
    document.getElementById('store_area').value = place.vicinity;
    document.getElementById('store_address').value = place.vicinity;
    document.getElementById('store_latitude').value = place.geometry.location.lat();
    document.getElementById('store_longitude').value = place.geometry.location.lng();
    google.maps.event.addListener(markers[0], 'click', showInfoWindow);
  }
  
  
  function onPlaceChanged() {
    var place = autocomplete_area.getPlace();
    if (place.geometry) {
      map.panTo(place.geometry.location);
      map.setZoom(14);
      search();
    } else {
      document.getElementById('store_area').placeholder = 'Enter a city';
    }
  }
  
  function search() {
    var search = {
      bounds: map.getBounds(),
      keyword: ['パチスロ']
    };
  
    places.nearbySearch(search, function(results, status) {
      if (status === google.maps.places.PlacesServiceStatus.OK) {
        clearResults();
        clearMarkers();
        
        for (var i = 0; i < results.length; i++) {
          var markerLetter = String.fromCharCode('A'.charCodeAt(0) + (i % 26));
          var markerIcon = MARKER_PATH + markerLetter + '.png';
          
          markers[i] = new google.maps.Marker({
            position: results[i].geometry.location,
            animation: google.maps.Animation.DROP,
            icon: markerIcon
          });
          markers[i].placeResult = results[i];
          google.maps.event.addListener(markers[i], 'click', showInfoWindow);
          setTimeout(dropMarker(i), i * 100);
          addResult(results[i], i);
        }
      }
    });
  }
  
  function clearMarkers() {
    for (var i = 0; i < markers.length; i++) {
      if (markers[i]) {
        markers[i].setMap(null);
      }
    }
    markers = [];
  }
  
  function dropMarker(i) {
    return function() {
      markers[i].setMap(map);
    };
  }
  function addResult(result, i) {
    var results = document.getElementById('results');
    var markerLetter = String.fromCharCode('A'.charCodeAt(0) + (i % 26));
    var markerIcon = MARKER_PATH + markerLetter + '.png';

    var tr = document.createElement('tr');
    tr.style.backgroundColor = (i % 2 === 0 ? '#F0F0F0' : '#FFFFFF');
    tr.onclick = function() {
      google.maps.event.trigger(markers[i], 'click');
    };

    var iconTd = document.createElement('td');
    var nameTd = document.createElement('td');
    var icon = document.createElement('img');
    icon.src = markerIcon;
    icon.setAttribute('class', 'placeIcon');
    icon.setAttribute('className', 'placeIcon');
    var name = document.createTextNode(result.name);
    iconTd.appendChild(icon);
    nameTd.appendChild(name);
    tr.appendChild(iconTd);
    tr.appendChild(nameTd);
    results.appendChild(tr);
  }

  function clearResults() {
    var results = document.getElementById('results');
    while (results.childNodes[0]) {
      results.removeChild(results.childNodes[0]);
    }
  }
  
  function showInfoWindow() {
    var marker = this;
    places.getDetails({placeId: marker.placeResult.place_id},
        function(place, status) {
          if (status !== google.maps.places.PlacesServiceStatus.OK) {
            return;
          }
          infowindow.open(map, marker);
          buildIWContent(place);
          document.getElementById('store_name').value = place.name;
          document.getElementById('store_latitude').value = place.geometry.location.lat();
          document.getElementById('store_longitude').value = place.geometry.location.lng();
        });
  }
  
  function buildIWContent(place) {
    // document.getElementById('store_name').value = place.name
    document.getElementById('store_address').value = place.vicinity
    
    document.getElementById('iw-icon').innerHTML = '<img class="hotelIcon" ' + 'src="' + place.icon + '"/>';
    document.getElementById('iw-url').innerHTML = '<b><a href="' + place.url + '">' + place.name + '</a></b>';
    document.getElementById('iw-address').textContent = place.vicinity;

    if (place.formatted_phone_number) {
      document.getElementById('iw-phone-row').style.display = '';
      document.getElementById('iw-phone').textContent = place.formatted_phone_number;
    } else {
      document.getElementById('iw-phone-row').style.display = 'none';
    }

    if (place.rating) {
      var ratingHtml = '';
      for (var i = 0; i < 5; i++) {
        if (place.rating < (i + 0.5)) {
          ratingHtml += '&#10025;';
        } else {
          ratingHtml += '&#10029;';
        }
      document.getElementById('iw-rating-row').style.display = '';
      document.getElementById('iw-rating').innerHTML = ratingHtml;
      }
    } else {
      document.getElementById('iw-rating-row').style.display = 'none';
    }
    
    if (place.website) {
      var fullUrl = place.website;
      var website = hostnameRegexp.exec(place.website);
      if (website === null) {
        website = 'http://' + place.website + '/';
        fullUrl = website;
      }
      document.getElementById('iw-website-row').style.display = '';
      document.getElementById('iw-website').textContent = website;
    } else {
      document.getElementById('iw-website-row').style.display = 'none';
    }
  }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDfoJttru5KMPC-d8gojhfEypF0elJAkvI&libraries=places&callback=initMap">
</script>
