<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
    <div class="field">
      <%= form.label :area %>
      <input id="store_area" placeholder="Enter a city" type="text" />
    </div>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :store_name, placeholder: "Enter a location"%>
    </div>
      <%= form.hidden_field :name_kana, id: :store_name_kana %>
      <%= form.hidden_field :address, id: :store_address %>
      <%= form.hidden_field :latitude, id: :store_latitude %>
      <%= form.hidden_field :longitude, id: :store_longitude %>
    <div class="actions">
      <%= form.submit "登録", class:"btn btn-large btn-primary" %>
    </div>
  </div>

  <style type="text/css">
    #map {
      height: 400px;
      /*text-align:left;*/
      width: 70%;
      float: left;
      box-sizing: border-box;
    }
    #listing {
      /*position: absolute;*/
      height: 400px;
      /*overflow: auto;*/
      cursor: pointer;
      overflow-x: hidden;
      box-sizing: border-box;
    }
  </style>

  <div class="field">
    <div id="map"></div>
  </div>

  <div id="listing">
    <table id="resultsTable">
      <tbody id="results"></tbody>
    </table>
  </div>
  <div style="display: none">
    <div id="info-content">
      <table>
        <tr id="iw-url-row" class="iw_table_row">
          <td id="iw-icon" class="iw_table_icon"></td>
          <td id="iw-url"></td>
        </tr>
        <tr id="iw-address-row" class="iw_table_row">
          <td class="iw_attribute_name">Address:</td>
          <td id="iw-address"></td>
        </tr>
        <tr id="iw-phone-row" class="iw_table_row">
          <td class="iw_attribute_name">Telephone:</td>
          <td id="iw-phone"></td>
        </tr>
        <tr id="iw-rating-row" class="iw_table_row">
          <td class="iw_attribute_name">Rating:</td>
          <td id="iw-rating"></td>
        </tr>
        <tr id="iw-website-row" class="iw_table_row">
          <td class="iw_attribute_name">Website:</td>
          <td id="iw-website"></td>
        </tr>
      </table>
    </div>
  </div>

<% end %>

