<%= form_with(model: score, local: true) do |form| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :user %>
    <%#= form.number_field :user_id, id: :score_user_id %>
    <%# binding.pry %>
    <%= select_tag("user_name", options_for_select(User.pluck(:name), @user_name)) %>
  </div>
  
  <div class="field">
    <%= form.label :store_id %>
    <%= form.number_field :store_id, id: :score_store_id %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :score_model %>
  </div>

  <div class="field">
    <%= form.label :seat %>
    <%= form.number_field :seat, id: :score_seat %>
  </div>

  <div class="field">
    <%= form.label :start_at %>
    <%= form.datetime_select :start_at, id: :score_start_at %>
  </div>

  <div class="field">
    <%= form.label :end_at %>
    <%= form.datetime_select :end_at, id: :score_end_at %>
  </div>

  <div class="field">
    <%= form.label :investment %>
    <%= form.number_field :investment, id: :score_investment %>
  </div>

  <div class="field">
    <%= form.label :proceeds %>
    <%= form.number_field :proceeds, id: :score_proceeds %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
