<%= form_with(model: score, local: true) do |form| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>
      
      <ul>
      <% score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset class="col-xs-12 col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
    <!--<div class="field">-->
    <!--  <%= form.label User.model_name.human %>-->
    <!--  <%= form.select(:user_id, options_from_collection_for_select(User.all, :id, :name)) %>-->
    <!--</div>-->
    
    <div class="field">
      <%= form.label Store.model_name.human %>
      <%= form.select(:store_id, options_from_collection_for_select(Store.all, :id, :name)) %>
    </div>
  
    <div class="field">
      <%= form.label :model %>
      <%= form.text_field :model, id: :score_model %>
    </div>
    
    <div class="field">
      <%= form.label :seat %>
      <%= form.number_field :seat, id: :score_seat %>
    </div>
  
    <div class="field">
      <%= form.label :start_at %>
      <%= form.datetime_select :start_at, id: :score_start_at %>
    </div>
  
    <div class="field">
      <%= form.label :end_at %>
      <%= form.datetime_select :end_at, id: :score_end_at %>
    </div>
    
    <div class="field">
      <%= form.label :investment %>
      <%= form.number_field :investment, id: :score_investment %>
    </div>
  
    <div class="field">
      <%= form.label :proceeds %>
      <%= form.number_field :proceeds, id: :score_proceeds %>
    </div>

    <div class="actions ">
      <%= form.submit "登録", class:"btn btn-large btn-primary" %>
    </div>
  </fieldset>
    
<% end %>
