<p id="notice"><%= notice %></p>

<p>
  <strong><%= User.model_name.human %>:</strong>
  <%= @score.user.name %>
</p>

<p>
  <strong><%= Store.model_name.human %>:</strong>
  <%= @score.store.name %>
</p>

<p>
  <strong><%= Score.human_attribute_name(:model) %>:</strong>
  <%= @score.model %>
</p>

<p>
  <strong><%= Score.human_attribute_name(:seat) %>:</strong>
  <%= @score.seat %>
</p>

<p>
  <strong><%= Score.human_attribute_name(:start_at) %>:</strong>
  <%= @score.start_at %>
</p>

<p>
  <strong><%= Score.human_attribute_name(:end_at) %>:</strong>
  <%= @score.end_at %>
</p>

<p>
  <strong><%= Score.human_attribute_name(:investment) %>:</strong>
  <%= @score.investment %>
</p>

<p>
  <strong><%= Score.human_attribute_name(:proceeds) %>:</strong>
  <%= @score.proceeds %>
</p>

<%= link_to t(:edit), edit_score_path(@score) %> |
<%= link_to t(:back), scores_path %>
