<% provide(:title, "#{User.model_name.human}管理") %>
<h1><%= "#{User.model_name.human}管理" %></h1>

<%= form_tag(users_path, method: :get) do %>
<div class="flex_container">
  <table>
    <tr>
      <th><%= label_tag :keyword, "検索ワード"  %></th>
      <td><%= text_field_tag :keyword, @search_params[:keyword], class: 'form-control', placeholder: "入力してください" %></td>
    </tr>
  </table>
  <div class="actions">
    <%= submit_tag '検索', class: "btn btn-lg btn-primary" %>
  </div>
</div>
<% end %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 52 %>
      <%= link_to user.name, user %>
      <br>
      <!--性別：<%#= (user.gender.text) %>-->
      <br>
      生涯収支：
    </li>
  <% end %>
</ul>
