<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= (@user.gender.text) %>
      </h1>
      <h2>
        <%= t :hello_html, username: @user.name %>
      </h2>
      <h3>
        <%= I18n.l Time.now %>
      </h3>
    </section>
    <h1>
      
    </h1>
  </aside>
</div>
