<%= form_tag(action, method: :get) do %>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
    <h2>フィルタ条件</h2>
    <%= label_tag :model, "機種名", {class: "control-label"} %>
    <div class="field">
      <%= text_field_tag :model, @search_params[:model], class: "form-control", placeholder: "機種名を入力してください" %>
    </div>

    <%= label_tag :model, "店舗名", {class: "control-label"} %>
    <div class="field">
      <%#= text_field_tag :store, @search_params[:store], class: "form-control", placeholder: "店舗名を入力してください" %>
      <%= select_tag(:store_id, options_from_collection_for_select(Store.all, :id, :name), placeholder: "店舗名を入力してください" ) %>
    </div>

    <%= label_tag :play_date, "期間"  %>
    <div class="flex_container">
      <%= date_field_tag(:play_start,  @search_params[:play_start], class: "form-control") %>
      <p>～</p>
      <%= date_field_tag(:play_end,  @search_params[:play_end], class: "form-control") %>
    </div>

    <%= label_tag :win_or_lose, "収支条件"  %>
    <div class="field">
      <%= select_tag("win_or_lose", options_for_select([["未設定",0], ["勝ち",1], ["負け",2], ["引き分け",3]], @win_or_lose)) %>
    </div>

    <div class="actions">
      <%= submit_tag '実行', class: "btn btn-lg btn-primary"  %>
    </div>
  </div>
<% end %>
